.ngh-app-bar {
    width: 100%;
    height: 50px;
    background-color: #673ab7;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

.ngh-viewport, md-sidenav-layout {
    height: 100%;
}

.ngh-sidenav-toggle {
    width: 50px;
    height: 50px;
}

md-sidenav.ngh-sidenav-left {
    width: 250px;
}

button.ngh-sidenav-toggle {
    border: none;
    background-color: #673ab7;
    outline: none;
    color: white;
}

button.ngh-sidenav-toggle:hover {
    background-color: #7e57c2;
}

.ngh-app-bar .ngh-title {
    font-family: "Segoe UI", Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    line-height: 50px;
    vertical-align: top;
}

md-sidenav ul {
    margin: 0.5em 0;
    padding: 0;
}

md-sidenav ul li a {
    display: block;
    text-align: left;
    font-weight: 600;
    height: 3em;
    border-radius: 0;
    padding: 0.25em 0.5em;
}

md-sidenav ul li a[md-button].active {
    color: #673ab7;
}

md-sidenav ul li a[md-button] span {
    vertical-align: top;
    margin-left: 1em;
}

md-sidenav ul li a md-icon {
    line-height: 1.46em;
}